
@{
    ViewBag.Title = "Reservastion";
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration





<div class="row"> <div class="col-md-6">
        <h3> The reserved Blue Buds </h3>
        @using BlueBud.Data        
@using Microsoft.AspNetCore.Identity
@model List<ChargerLocations>
 
        <ul>
            
            
            @foreach (var charger in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@charger.ChargerName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@charger.ChargerType</h6>
                        <a asp-controller="ChargerLocations" asp-action="ReserveCancel" asp-route-id="@charger.Id"> <button id="updatebutton" type="button" class="btn btn-danger">Cancel Reservation</button></a>
 @if (charger.Favorite != User.Identity.Name)
                       {<a asp-controller="ChargerLocations"  asp-action="AddFavorite" asp-route-id="@charger.Id" > <button id="updatebutton" type="button" class="btn btn-success">Add to Favorites</button></a>
                           
                       } 
                    </div>
                </div>
            }
        </ul>
        
    </div>



        
        
    </div>
    


<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBxinbaf5oXt9Jjy_gpqbXbsPfI-fQBztY" async defer></script>
<script src = "path/to/map.js"></script>
